/* ---------------------------
            Header
----------------------------*/

.attribution {
    text-align: right;
    font-size: 14px;
    color: #555;
    margin-top: 10px;
    margin-bottom: 0;
}

.attribution a {
    color: #555;
    text-decoration: none;
}

#article-img {
    height: 280px;
    overflow: hidden;
    position: relative;
    border-radius: 7px;
    border: solid 3px #000;
    box-shadow: 0 7px 0 rgba(0, 0, 0, 0.3);
}

#article-img img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#main-article #article-content p {
    line-height: 1.75;
    font-size: 1.13rem;
}

#article-body {
    display: grid;
    grid-template-columns: 1fr;
    /*     justify-items: end; */
    align-items: start;
    grid-gap: 30px;
}

#main-aside {
    width: 100%;
    justify-self: end;
}

#article-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
    margin-top: -18px;
    margin-bottom: 50px;
}

#article-meta::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #eaeaea;
    position: relative;
    top: 0;
    left: 0;
}

#article-meta li {
    font-size: 1rem;
}


#author-info {
    position: relative;
    border-top: solid 1px #eaeaea;
}

#author-info .container {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 30px;
    position: relative;
    padding-top: 50px;
    align-items: flex-start;
}


#author-info .info-heading {
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 18px;
}

#author-info .info-heading p {
    margin-bottom: 0;
}

#author-info .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

#author-info .avatar img {
    width: 120%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

#author-info .info-body p {
    margin-bottom: 0;
}

#author-info h2 {
    font-size: 1.32rem;
}

#author-info p {
    margin-top: 0;
}

#author-info p,
#author-info h3 {
    font-size: 1.13rem;
}

#publish-info {
    flex: 0 0 auto;
    list-style: none;
    padding-left: 0;
    order: 1;
    margin: 0;
}


#publish-info span.date {
    display: inline;
}

#article-meta .share-social {
    flex: 0 0 auto;
    order: 2;
}



#article-content {
    max-width: 756px;
    flex: 2 2 756px;
}

#article-content img {
    max-width: 100%;
}

#article-content p:first-of-type {
    margin-top: 0;
}


#related-articles ul {
    list-style: none;
    padding-left: 0;
}

#related-articles article {
    margin-top: 30px;
}

#related-articles .thumbnail-wrap {
    width: 100px;
    height: 100px;
    border-radius: 7px;
}

#related-articles .article-body {
    flex: 2 2 100px;
    overflow-y: hidden;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 0.9);
}

#related-articles p {
    font-size: 1rem;
    margin: 0;
}

#related-articles h3 {
    font-size: 1rem;
    margin: 5px 0;

}

#related-articles article {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


#related-articles a {
    text-decoration: none;
    color: #000;
}

#related-articles a:hover h3 {
    text-decoration: underline;
}


@media screen and (min-width:560px) {
    #main-article #article-content p {
        font-size: 1.32rem;
        ;
    }
}

@media screen and (min-width:1124px) {


    #article-body {
        gap: 70px;
        grid-template-columns: 756px 1fr;

    }

    #main-aside {
        max-width: 275px;
        position: sticky;
        top: 30px;
    }

    #article-meta {
        margin-top: 0;
        padding-bottom: 50px;
        border-bottom: solid 1px #eaeaea;
    }

    #article-meta::before {
        content: "";
        display: none;
    }

    #article-meta .share-social {
        flex: 1 1;
    }

    .share-social #share-btns {
        gap: 5px;
    }

    #publish-info {
        flex: 3 3 100px;
        text-align: left;
    }

    #publish-info li+li {
        margin-left: 0;
        margin-top: 18px;
    }

    #publish-info span.date {
        display: block;
    }

    #author-info {
        margin-top: 50px;
    }

    #article-content {
        grid-column-start: 1;
        border-bottom: none;
    }

    #related-articles article:hover .thumbnail-wrap img {
        top: 40%;
    }

    #related-articles .article-body {
        padding-left: 0;
        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 0.9);
    }

}