.primary-btn {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 21px 30px;
    border-radius: 25px;
    border: solid 1px #000;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
    min-height: 70px;
    height: 72px;
}

.primary-btn:hover,
.primary-btn:focus {
    box-shadow: #fff 0 0 0 5px,
        #000 0 0 0 8px;
}

.primary-btn:active {
    box-shadow: #000 0 0 0 5px,
        #000 0 0 0 8px;
}

.default-btn {
    display: inline-block;
    background-color: #fff;
    color: #000;
    padding: 21px 30px;
    border-radius: 25px;
    border: none;
    font-size: 18px;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
    font-weight: 600;
    border: solid 1px #fff;
    height:72px;
}

.default-btn:hover,
.default-btn:focus {
    box-shadow: #fff 0 0 0 5px,
        #000 0 0 0 8px;
    border: solid 1px #ccc;
}

.default-btn:active {
    box-shadow: #000 0 0 0 5px,
        #000 0 0 0 8px;
}

